
<div class="col-12 text-center">
  <%= Gossip.all.each do |gossip| %>
  <div class="card">
    
    <div class="card-header">
    <h5 class="blog-header-logo text-dark">Gossip n°<%= gossip.id %></h5>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= gossip.user.first_name%></h5>
      <p class="card-text"><%=gossip.title%></p>
      <%= link_to "Voir plus ",gossip_path(gossip.id)%>
      <br>
      <br>
    </div>
    </div>
<% end %>
</div>